# Ігнорувати папку venv (віртуальне середовище)
venv/

# Ігнорувати базу даних
db/bot_database.db

# Ігнорувати файли журналів
*.log

# Ігнорувати файли кешу Python
__pycache__/
*.pyc

# Ігнорувати середовищні файли
.env